* {
  margin: 0;
  padding: 0; }

header {
  background-color: #610c9a; }
  header ul {
    display: flex; }
    header ul li {
      list-style: none;
      padding: 1rem;
      color: #2ad608; }
      header ul li:hover {
        background-color: black;
        font-style: italic; }

#index {
  background-color: lightgreen; }

h1 {
  background-color: darkgoldenrod;
  color: rebeccapurple;
  font-style: italic; }

.parte1 {
  background-color: darkred;
  color: white; }
  .parte1 h2 {
    font-style: oblique; }
  .parte1 p {
    text-align: center; }
