*{
    margin: 0;
    padding: 0;
}
// import//
@import './secciones/header.scss';
@import './secciones/index.scss';

h1{
    background-color: darkgoldenrod;
    color: rebeccapurple;
    font-style: italic;
}

.parte1{
    background-color: darkred;
    color: white;
    h2{
        font-style: oblique;
    }
    p{
        text-align: center;
    }
}