header{
    background-color: rgb(97, 12, 154);
    ;
    ul{
        display: flex;
        li{
            list-style: none;
            padding: 1rem;
            color: rgb(42, 214, 8);
            &:hover{
                background-color: black;
                font-style: italic;
            }
        }
    }
}